<mat-toolbar>
  <span>This is parent</span>

  <button mat-button (click)="childOne()">Child-App-One</button>
  <button mat-button (click)="childTwo()">Child-App-Two</button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" style="position: absolute;" *ngIf="loading"></mat-progress-bar>

<iframe
  #iframeContent
  class="iframe-container"
  [src]="iframeUrl"
  (load)="loadFinished()"
></iframe>

